.Module-7 {
  padding-top: 150px;
  padding-right: 0px;
  padding-bottom: 150px;
  padding-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }
  .Module-7 .ct-ajax-contact .ct-ajax-form .ct-form-group {
    margin: 0px 0px 20px 0px; }
    .Module-7 .ct-ajax-contact .ct-ajax-form .ct-form-group .ct-form-control {
      border: 1px solid #eee;
      background: #f9f9f9;
      box-shadow: inset 0px 1px 2px 0px #eee;
      color: #101010;
      height: 45px;
      padding: 8px;
      width: 100%;
      border-radius: 0; }
    .Module-7 .ct-ajax-contact .ct-ajax-form .ct-form-group .ct-form-control-textarea {
      border: 1px solid #eee;
      background: #f9f9f9;
      box-shadow: inset 0px 1px 2px 0px #eee;
      color: #101010;
      padding: 8px;
      width: 100%;
      border-radius: 0; }
  .Module-7 .ct-ajax-contact .ct-ajax-form .button-ct .btn-warning {
    color: #fff;
    padding: 10px 36px;
    cursor: pointer;
    text-transform: uppercase; }
    .Module-7 .ct-ajax-contact .ct-ajax-form .button-ct .btn-warning:hover {
      background-color: #101010; }
.Module-7 .ct-text-block-1 .ct-h3-texttitle-1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 18px;
  font-style: normal; }
.Module-7 .ct-empty-space {
  height: 50px; }
  .Module-7 .ct-text-block-2 .ct-h3-texttitle-2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 0;
    font-style: normal; }
    .Module-7 .ct-text-block-2 .ct-h3-texttitle-2 .ct-span-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 14px;
      font-style: normal;
      display: block;
      margin-top: 18px; }
  .Module-7 .ct-text-block-2 .ct-p-text {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 10px;
    color: #727272;
    font-size: 14px;
    line-height: 28px; }
