@keyframes example {
  0% {
    background-color: rgba(0, 0, 0, 0.29); }
  20% {
    background-color: rgba(61, 58, 58, 0.692); }
  40% {
    background-color: #681c1c; }
  60% {
    background-color: rgba(3, 110, 44, 0.89); }
  80% {
    background-color: #ccf145ea; }
  100% {
    background-color: #f8ce44; } }

.Module-8 {
  background-image: url("../images/210-backgroud.png");
  width: auto;
  height: 630px;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 180px;
  font-family: "Montserrat", sans-serif;
  background-attachment: fixed; }
  .Module-8 .under-title .site-under {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase; }
    .Module-8 .under-title .under-content .launch-title {
      text-align: center;
      color: #fff !important;
      font-size: 24px;
      line-height: 25px;
      margin-bottom: 18px;
      font-style: normal;
      padding-bottom: 50px; }
.Module-8 .finally-here .finishedtext {
  line-height: 80px;
  font-size: 36px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.29);
  margin: 30px 0;
  width: 100% !important;
  padding: 20px 0;
  height: auto !important;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite; }
